<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

    body{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #0f0f0f;
        padding: 2rem;
        color: #fafafa;
        cursor: default;
        width: 100%;
        font-family: 'Oswald', sans-serif;
    }
    a{
        font-size: 2rem;
        text-decoration: none;
        color: #fafafa;
        margin: 0 auto;
        text-align: center;
        display: block;
        width: 104px;
        border: 1px solid #fafafa;
    }
    .home:hover{
        color: #000;
        background: #fff;
    }
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<body>
    <h1 style="text-align: center;">Your Password is:</h1>
    <h1 style="text-align: center;">{{ password }}</h1>
    <a class="home" href="{% url 'home' %}">HOME</a>
    <br>
    <center>
      Refresh to change the password!
    </center>
</body>
